#logo img {
	height: 88px;
	margin: 45px 45px;
	width: 200px;
}
#logo {
	margin: 10px 34px;
}

* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
:root {
	--navbar-height: 59px;
}
#navbar {
	display: flex;
	align-items: center;
	position: sticky;
	top: 0px;
}
#navbar ul {
	display: flex;
	gap: 10px;
}
#navbar::before {
	content: "";
	background-color: black;
	opacity: 0.4;
	top: -10px;
	left: 0px;
	width: 100%;
	height: 78%;
	z-index: -1;
	position: absolute;
}
#navbar ul li {
	list-style: none;
	font-size: 1.5rem;
	border: hidden;
	margin-bottom: 10px;
}
#navbar ul li a {
	color: white;
	padding: 3px 22px;
	text-decoration: none;
	display: block;
	border-radius: 15px;
}
#navbar ul li a:hover {
	background-color: rgb(196, 191, 191);
	color: black;
}
/* Home section */
#home {
	display: flex;
	flex-direction: column;
	padding: 3px 200px;
	height: 410px;
	justify-content: center;
	align-items: center;
}

#home::before {
	content: "";
	position: absolute;
	background: url("../images/tomato.jpg") no-repeat center center/cover;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
	opacity: 0.89;
}
#home h1 {
	color: white;
	text-align: center;
}
#home p {
	font-size: 1.3rem;
	text-align: center;
	color: white;
	font-family: "M PLUS Rounded 1c", sans-serif;
	margin: 5px;
}
/* Services section */
#services {
	margin: 15px;
	display: flex;
}

#services .box {
	border: 2px solid brown;
	padding: 20px;
	margin: 2px 40px;
	border-radius: 28px;
	background: #f2f2f2;
	margin-bottom: 20px;
}
#services .box img {
	height: 100px;
	display: block;
	margin: auto;
}
/* Utility Classes */
.h-primary {
	font-size: 2.8rem;
	font-family: "M PLUS Rounded 1c", sans-serif;
	padding: 12px;
	margin-top: 45px;
}
.h-secondary {
	font-size: 2.3rem;
	font-family: "M PLUS Rounded 1c", sans-serif;
	padding: 12px;
}
.btn {
	padding: 6px 20px;
	border: 2px solid;
	background-color: black;
	color: white;
	margin: 17px;
	font-size: 1.5rem;
	border-radius: 15px;
	cursor: pointer;
}
.center {
	text-align: center;
}

#contact {
	position: relative;
}
#contact::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.7;
	background: url("../images/contact.jpg") no-repeat center center/cover;
}
/* Clients Section */
#client-section {
	position: relative;
}

#client-section::before {
	content: "";
	position: absolute;
	background: url("../images/food-1.jpg");
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.7;
}

#clients {
	display: flex;
	justify-content: center;
	align-items: center;
}

.client-item {
	padding: 34px;
}

#clients img {
	height: 124px;
}

/* Contact Section */
#contact {
	position: relative;
	z-index: -1;
}
#contact::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.6;
	background: url("../images/contact.jpg") no-repeat center center/cover;
}
#contact-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea {
	width: 100%;
	padding: 0.5rem;
	border-radius: 9px;
	font-size: 1.1rem;
}

#contact-box form {
	width: 40%;
}

#contact-box label {
	font-size: 1.3rem;
	font-family: "Bree Serif", serif;
}
.submit-button {
	padding: 15px;
	border: none;
	color: white;
	background-color: rgb(11, 91, 240);
	border-radius: 10px;
	cursor: pointer;
	font-size: 20px;
}
footer {
	background: black;
	color: #f2f2f2;
	padding: 9px 20px;
}
